body {
  font-family: "Comic Sans MS", "sans-serif";
  margin: 0 ;
  border: 1px solid;
  min-width: 530px;
}

header {
  background-color: darkgrey;
  border: solid 1px black;
}

h3 {
  text-align: center;
  margin: 0;
}

#secondline {
  width: 100%;
  display: flex;
}

#icons {
  width: 20%;
  padding: 1px; 
}

#icons img {
  width: 20%;
}

#fields {
  width: 80%;
  display: flex;
  margin-bottom: 10px;
}

#fields input {
  width: 70%;
}

#searchInput {
  position: relative;
  margin-left: 20px;
  width: 19%;
}

#searchInput input {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

#searchInput img {
  width: 15%;
  position: absolute;
  padding: 5px;
}

#middlebody {
  margin: 0;
  min-height:100vh;
  min-width: 530px;
  padding-top: 20px;
  padding-left: 50px;
}



table, td, th {
  border: solid black 2px;
  padding: 5px;
  min-height: 100px;
  text-align: center;
}

tr {
  height: 50px;
}

#table1 {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
}

#table1 th {
  background-color: darkgrey;
}

.tint {
  background-color: lightgrey;
}

/*
#twoCols {
  font-size: 20px;
  /*margin-left: 60px;*//*
  display: flex;
  text-align:left;
}
*/

/*
#twoCols ul{
  list-style-type: none;
 /* width:fit-content;*/
 /*
}
*/

/*
#petCol {
  list-style-type: none;
  border: solid black 2px;
  padding: 20px;
}

#cityCol {
  margin-left: 100px;
  list-style-type: none;
  border: solid black 2px;
  padding: 20px;
}

#button {
  margin-top: 50px;
  margin-left: 30%;
  border: solid black 2px;
  background-position-x: center;
  padding: 5px;
  width: fit-content;
}
*/

footer {
  text-align:right;
  border: 1px solid black;
  background-color: darkgrey;
  padding: 20px;
}
/*
#submitbutton {
  box-shadow: 10px 10px black;
  width:60px;
}
*/