body {
  font-family: "Comic Sans MS", "sans-serif";
  margin: none ;
  min-width: 530px;
  height: 100vh;
}

header {
  background-color: darkgrey;
  border: solid 1px black;
  height: 15vh;
}

h3{
  text-align: center;
}

#secondline{
  width: 100%;
  display: flex;
}

#icons{
  width: 20%;
  padding: 1px; 
}

#icons img{
  width: 20%;
 }

#fields{
  width: 80%;
  display: flex;
  margin-bottom: 10px;
}

#fields input {
  position: relative;
  width: 75%;
  height: 5vh;
}

#searchInput {
  position: relative;
  margin-left: 20px;
  width: 19%;
}

#searchInput input {
  position: absolute;
  width: 100%;
  height: 5vh;
  border-radius: 10px;
}

#searchInput img {
  width: 20px;
  position: absolute;
  padding: 15px;
}

#middlebody{
  border-left: solid 1px;
  border-right:solid 1px;
  min-height: 600px;
  margin: none;
  min-width: 530px;
  padding-top: 50px;
  padding-left: 50px;
}

table {
  border-collapse: separate;
  border-spacing: 20px 50px;
}

footer {
  border: 1px solid;
  min-height: 4vh;
  background-color: darkgrey;
  padding: 20px;
}

#submitbutton{
  box-shadow: 10px 10px black;
  width:60px;
}

